{{- define "main" -}}

<div class="pub">

  {{ partial "page_header.html" . }}

  <div class="container">

    <div class="space-below"></div>

    <div class="article-style">
      {{ .Content }}
    </div>
    {{ $title := .Title }}
    
    {{ if eq $title "Tent Rentals - Baltimore MD" }}
      {{ $tents := sort (getJSON "/data/tents.json") "name" }}
    <section class="container">
        <div class="row" >
            <h2>Tent Inventory</h2>
            
        </div>
    </section>
    <hr/>
    <section class="container">
        <div class="row" style="margin-left:-30px;margin-right:-30px;">
            {{ range $tents }}
              {{ partial "tent.html" . }}
            {{ end }}
        </div>
    </section>
    <hr/>
    {{ end }}

    {{ partial "contact_us" . }}

    {{ partial "page_footer" . }}

  </div>
</div>
{{- end -}}
