


{{- define "main" -}}

<div class="pub">
    <div class="article-container pt-3">
        <h1 style="margin-bottom: 1rem">{{ .Params.name }}</h1>
    </div>

  <div class="article-header article-container">

    <div>
        <div>
            <img src="{{ (printf "/img/%s" .Params.image) | relURL }}" class="article-banner" alt="">
        </div>
    <div style="margin: 1rem">
      <div >
        <table class="table table-responsive w-100 d-block d-md-table">
          
          <tbody>
            <tr>
              <th>Size</th>
              <td>{{ (printf "%sX%s FT" (index .Params.size 0) (index .Params.size 1)) }}</td>
            </tr>
            <tr>
              <th >Area</th>
              <td>100 SQ FT</td>
            </tr>
            <tr>
              <th>Space Needed</th>
              <td>{{ (printf "%dX%d FT" ( add (int (index .Params.size 0)) 4) (add (int (index .Params.size 1)) 4) ) }}</td>
            </tr>
            <tr>
              <th >Capacity</th>
              <td>{{ (printf "%d people" .Params.capacity) }}</td>
            </tr>
            <tr>
              <th >Colors</th>
              <td>{{.Params.colors}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>

    <div class="space-below"></div>

    <div class="article-style">
      {{ .Content }}
    </div>

  </div>
  {{ partial "contact_us" . }}
</div>

{{- end -}}
