


{{- define "main" -}}

<div class="pub">
  {{ $sizeX := int (index .Params.size 0) }}
  {{ $sizeY := int (index .Params.size 1) }}
  {{ $area := int (mul $sizeX $sizeY) }}

    <div class="article-container pt-3">
        <h1 style="margin-bottom: 1rem">{{ .Params.name }}</h1>
    </div>

  <div class="article-header article-container">

    <div>
        <div>
            <img src="{{ (printf "/img/%s" .Params.image) | relURL }}" class="article-banner" alt="">
        </div>
    <div style="margin: 1rem">
      <div >
        <table class="table table-responsive w-100 d-block d-md-table">
          
          <tbody>
            <tr>
              <th>Size</th>
              <td>{{ (printf "%vX%v FT" $sizeX $sizeY) }}</td>
            </tr>
            <tr>
              <th >Area</th>
              <td>{{ (printf "%v SQ FT" (lang.NumFmt 0 $area)) }}</td>
            </tr>
            <tr>
              <th>Space Needed</th>
              <td>{{ (printf "%dX%d FT" (add $sizeX 4) (add $sizeY 4)) }}</td>
            </tr>
            <tr>
              <th >Capacity</th>
              <td>{{ (printf "%d people" .Params.capacity) }}</td>
            </tr>
            <tr>
              <th >Colors</th>
              <td>{{.Params.colors}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>

    <div class="space-below"></div>

    <div class="article-style">
      {{ .Content }}
    </div>

  </div>
  {{ partial "contact_us" . }}
</div>

{{- end -}}
