// Override this file to add your own SCSS styling.
@media (min-width: 1300px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1300px;
    } 
}
.article-metadata {
    display: none;
}
.no-margin {
    margin: 0 !important;
}
.share-box {
    display: none;
}
.gallery-container {
    padding: 0 14rem;
}
@media (max-width: 1300px) {
    .gallery-container {
        padding: 0 2rem;
    }
    .hide-mobile {
        display: none;
    }
    .contact-callout ul {
        padding-left: 2rem;
    }
    .contact-callout {
        padding: .5rem 0 !important;
    }
    .contact-message {
        margin-bottom: 1rem;
    }
}
@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 1.5rem;
    }
}
.contact-callout {
    padding: 1rem 0
}
.horizontal-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.inventory-container {
    padding: 0 1rem;
}