<div class="jumbotron">
    <div class="row">
        <div class="col-md-7 contact-message">
            <h4>Call or email us at anytime to get an estimate!</h4>
            <div class="small">
                <a href="/#contact">See More Info</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row contact-callout">
                <ul class="fa-ul">
                    <li>
                      <i class="fa-li fas fa-phone fa-2x" aria-hidden="true" style="top: -15px;"></i>
                      <span id="person-telephone" style="margin-top:1rem"><a href="tel:+1%20%28443%29%20904-7849">+1 (443) 904-7849</a></span>
                    </li>
                  </ul>
            </div>
            <div class="row contact-callout">
                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fas fa-envelope fa-2x" aria-hidden="true" style="top: -15px;"></i>
                        <a href="{{ "mailto:dan@mcmanusamusements.com" | safeURL }}" >{{"dan@mcmanusamusements.com"|markdownify|emojify|safeHTML}}</a>
                      </li>
                  </ul>
            </div>
            
        </div>
    </div>
    
</div>