<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script> -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAOhmC-2UXvPG283QQP89GMK2I4nYnm90g",
        authDomain: "mcmanus-amusements-website.firebaseapp.com",
        databaseURL: "https://mcmanus-amusements-website.firebaseio.com",
        projectId: "mcmanus-amusements-website",
        storageBucket: "mcmanus-amusements-website.appspot.com",
        messagingSenderId: "533284450095",
        appId: "1:533284450095:web:103d4bd4d5ed6542c63bda"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>