{{ $link := (printf "/tents/%s" .slug)}}
{{ $footprint := slice (add (index .size 0) 4) (add (index .size 1) 4) }}

<div class="col-xl-4" >
    <div class="card">
        <a href="{{ $link }}" class="card-image hover-overlay">
            <img src="{{ (printf "/img/%s" .image) | relURL }}" alt="" class="img-responsive">
        </a>
        <div class="card-text">
            <h4><a href="{{ $link }}" >{{ .name | markdownify | emojify }}</a></h4>
        </div>
        <div class="card-text">
            <div class="article-style">
                <table class="table no-margin">
                    <tbody>
                      <tr>
                        <th scope="row" style="width:40%">Size</th>
                        <td>{{ (printf "%s FT" (delimit .size "X")) }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Space Needed</th>
                        <td>{{ (printf "%s FT" (delimit $footprint "X")) }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Capacity</th>
                        <td>{{ (printf "%.0f people" .capacity) }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Colors</th>
                        <td>{{.colors}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>